# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.venv/
venv/

# App
.env
logs/
*.log
lexicons/ng_words.local.yaml
misc/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Build/others
dist/
build/